{% extends 'base_headers.html' %}
{% block content %}

    <!-- Две формы в горизонтальном расположении -->
    <div class="container">
        <!-- Первая форма для ручного сбора данных -->
        <div class="form-container">
            <h2>Ручной сбор данных</h2>
            <form action="{{ url_for('manual_collect_vacancies') }}" method="POST">
                <label for="profession">Какую профессию ищем?</label>
                <input type="text" id="profession" name="input_prof_name" placeholder="Введите профессию">
                <button type="submit" class="button is-light">Собрать</button>
                {% if success_message_manual_collect_vacancies %}
                    <p>{{ success_message_manual_collect_vacancies }}</p>
                {% endif %}
                {% if error_message_manual_collect_vacancies %}
                    <p> {{ error_message_manual_collect_vacancies }}</p>
                {% endif %}
            </form>
        </div>

        <!-- Вторая форма для автоматического сбора данных -->
        <div class="form-container">
            <h2>Автоматический сбор данных</h2>
            <form action="{{ url_for('collect_vacancies') }}" id="collect-form" method="POST">
                <label for="professions">Какие профессии ищем?</label>
                <textarea id="professions" name="auto_collect_vacancies"
                          placeholder="Введите профессии через запятую"></textarea>

                <label for="timer">Таймер (в минутах)</label>
                <input type="number" id="timer" name="timer1" placeholder="Введите время в минутах">

                <!-- Кнопка для запуска -->
                <button class="button is-light" type="submit" onclick="setFormAction('start')">Запустить</button>

                <!-- Кнопка для остановки для первого действия -->
                <button class="button is-light" type="submit" onclick="setFormAction('stop_main')">Остановить</button>
                {% if success_autocollection %}
                    <p>{{ success_autocollection }}</p>
                {% endif %}
                {% if error_profession_autocollection %}
                    <p> {{ error_profession_autocollection }} </p>
                {% endif %}
                {% if error_timer_for_automatic_collection %}
                    <p> {{ error_timer_for_automatic_collection }} </p>
                {% endif %}
            </form>
        </div>

        <div class="third-container">
            <h2>Настройка удаления сгенерированных картинок по таймеру</h2>
            <form id="image-form" method="POST">
                <label for="timer">Таймер (в минутах)</label>
                <input type="number" id="timer" name="timer2" placeholder="Введите время в минутах">

                <!-- Кнопка для запуска -->
                <button class="button is-light" type="submit" onclick="setFormAction('start_images')">Запустить</button>

                <!-- Кнопка для остановки для второго действия -->
                <button class="button is-light" type="submit" onclick="setFormAction('stop_images')">Остановить</button>
                {% if success_delete_images %}
                    <p>{{ success_delete_images }}</p>
                {% endif %}
                {% if error_timer_for_delete_images %}
                    <p> {{ error_timer_for_delete_images }} </p>
                {% endif %}
            </form>
        </div>

        <script>
            function setFormAction(action) {
                const collectForm = document.getElementById('collect-form');
                const imageForm = document.getElementById('image-form');

                // Устанавливаем действие для кнопок первой формы
                if (action === 'start') {
                    collectForm.action = "{{ url_for('collect_vacancies') }}";
                } else if (action === 'stop_main') {
                    collectForm.action = "{{ url_for('stop_main_collection') }}";
                }

                // Устанавливаем действие для кнопок второй формы
                if (action === 'start_images') {
                    imageForm.action = "{{ url_for('process_delete_images') }}";
                } else if (action === 'stop_images') {
                    imageForm.action = "{{ url_for('stop_image_cleanup') }}";
                }
            }
        </script>

{% endblock %}