{% extends 'base_headers.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 20px;
        }

        .forms-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
        }

        .form-container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            flex: 1 1 calc(33.33% - 20px); /* Одинаковая ширина для каждой формы */
            box-sizing: border-box;
            min-width: 250px; /* Минимальная ширина формы */
        }

        h2 {
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="checkbox"] {
            margin-right: 5px;
        }

        button {
            background-color: #4c4c4c;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
        }

        button:hover {
            background-color: #333;
        }
    </style>

    <div class="forms-grid">
        <!-- Форма 1 -->
        <div class="form-container">
            <h2>Составление диаграммы популярных навыков для профессии</h2>
            <form hx-post="{{ post_analytics }}" hx-target="#results" hx-swap="innerHTML">
                <label for="profession">Профессия</label>
                <input type="text" id="profession" name="profession" placeholder="Введите профессию">

                <button type="submit" name="">Составить диаграмму</button>
            </form>
        </div>

        <!-- Форма 2 -->
        <div class="form-container">
            <h2>Совмещение умений с зарплатой, укажите для какой профессии вы хотите видеть статистику</h2>
            <form hx-post="{{ post_analytics }}" hx-target="#results" hx-swap="innerHTML">
                <label for="profession-stats">Профессия</label>
                <input type="text" id="profession-stats" name="profession_stats" placeholder="Введите профессию">

                <button type="submit">Показать статистику</button>
            </form>
        </div>

        <!-- Форма 3 -->
        <div class="form-container">
            <h2>Показать уровень зарплат по профессиям в определённой компании</h2>
            <form action="/salary-by-company" method="POST">
                <label for="company">Компания</label>
                <input type="text" id="company" name="company" placeholder="Введите название компании">

                <button type="submit">Показать уровень зарплат</button>
            </form>
        </div>

        <!-- Форма 4 -->
        <!-- <div class="form-container">
            <h2>Пока пустая</h2>
            <form action="#">

            </form>
        </div>
        -->
    </div>
    <div id="results">

    </div>


{% endblock %}