{% extends 'base_headers.html' %}

{% block content %}
    <div class="div_body">
        <div class="forms-grid">
            <!-- Форма 1 -->
            <div class="form-container_anal">
                <h2>Составление диаграммы популярных навыков для профессии</h2>
                <form action="{{ url_for('popular_skills') }}" method="POST">
                    <label for="profession">Профессия</label>
                    <input type="text" id="profession" name="profession" placeholder="Введите профессию">

                    <div class="unique-container">
                        <button type="submit" name="">Составить диаграмму</button>
                    </div>
                    {% if error_message_for_popular_skills %}
                    <p>{{ error_message_for_popular_skills }}</p>
                    {% endif %}
                </form>
            </div>

            <!-- Форма 2 -->
            <div class="form-container_anal">
                <h2>Совмещение умений с зарплатой, укажите для какой профессии вы хотите видеть статистику
                </h2>
                <form action="{{ url_for('skills_salary') }}" method="POST">
                    <label for="profession-stats">Профессия</label>
                    <input type="text" id="profession-stats" name="profession_stats" placeholder="Введите профессию">

                    <div class="unique-container">
                        <button type="submit">Показать статистику</button>
                    </div>
                    {% if error_message_for_skills_salary %}
                    <p>{{ error_message_for_skills_salary }}</p>
                    {% endif %}
                </form>
            </div>

            <!-- Форма 3 -->
            <div class="form-container_anal">
                <h2>Показать уровень зарплат по профессиям в определённой компании</h2>
                <form action="/salary-by-company" method="POST">
                    <label for="company">Компания</label>
                    <input type="text" id="company" name="company" placeholder="Введите название компании">

                    <div class="unique-container">
                        <button class="button_anal" type="submit">Показать уровень зарплат</button>
                    </div>
                </form>
            </div>


        </div>
        <div id="results">
            {{ image_path }}
            <div id="skills_diagram">
                {% if image_path %}
                    <img src="{{ image_path }}" alt="Диаграмма">

                {% endif %}


            </div>
        </div>

{% endblock %}