<h4>Время выполнения: {{ time }}</h4>
{% if jobs %}
    {% for job in jobs %}
    <div class="card">
        <h3>{{ job.number }}.  {{ job.name }}</h3>
        <div class="company">Организация: {{ job.employer }}</div>
        <div class="salary">Зарплатка: от {{ job.salary_from }} до {{ job.salary_to }} {{ job.currency }}</div>
        <div> {{ job.schedule }}</div>
        <div> {{ job.experience }}</div>
        <div> {{ job.employment }}</div>
    </div>
    {% endfor %}
{% else %}
    <p>Вакансий не найдено по Вашему запросу</p>
{% endif %}
