
<h4 class="cart_time">Время выполнения: {{ time }}</h4>
{% if jobs %}
    {% for job in jobs %}
    <div class="card1">
        <h3 class="card_head">{{ loop.index }}.  <a href="{{ job.url }}">{{ job.name }}</a></h3>
        <div class="card_company">Организация: {{ job.employer }}</div>
        <div class="card_salary">Зарплатка: от {{ job.salary_from }} до {{ job.salary_to }} {{ job.currency }}</div>
        <div class="card_schedule"> {{ job.schedule }}</div>
        <div class="card_experience"> {{ job.experience }}</div>
        <div class="card_employment"> {{ job.employment }}</div>
    </div>
    {% endfor %}
{% else %}
    <p class="card_no_vacancies">Вакансий не найдено по Вашему запросу</p>
{% endif %}

